* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  header{
    width:100%;
    height:10vh;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:20px 10%;
    background:transparent;
    margin-bottom: 20px;
  }
  .logo{
    font-size: 20px;
    font-weight:bold;
    color:rgb(169, 207, 241);
    letter-spacing: 1.5px;
    cursor:pointer;
    height: auto;
  }
  .khojob{
    position: absolute;
    height: auto;
    left: 0px;
    width: 150px;
    bottom:620px;
  }
  nav li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
  }
  a,button{
    font-size: 22px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor:pointer;
  }
  button{
    background: rgba(0,0,0,0.2);
    border:2px solid yellow;
    border-radius: 50px;
    padding: 9px 25px;
  }
  nav li a:hover{
    color:yellow;
    transition: all 0.3s ease 0s;
  }
  button:hover{
    background-color: yellow;
    transition: all 0.3sec ease;
  }
  
  input:focus{
      outline: none;
  }
body {
    background: linear-gradient(90deg, pink, wheat);
    background-image: url(imgg/khoj.webp);
}

.container {
    max-width: 900px;
    margin: 0px auto;
}

.apply-box {
    max-width: 400px;
    padding: 20px;
    margin: 0px auto;
    margin-top: 50px;
    border: 1px solid rgba(246, 220, 188, 0.968);
    background: rgba(235, 220, 208, 0.855);
    box-shadow: 0 4px 30px rgb(241, 18, 18);
    border-radius: 40px;
}

.title-small {
    font-size: 20px;
}

.form-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form-control {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
    margin-bottom: 5px;
}

input,
select,
textarea {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

input:focus {
    outline-color: rgb(221, 187, 123);

}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button {
    background-color: rgb(228, 187, 130);
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
}

button:hover {
    background-color: red;
    border: 2px solid rgb(231, 77, 77);
    color: white;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.textarea-control {
    grid-column: 1/ span 2;

}

.textarea-control textarea {
    width: 100%;

}

@media (max-width:460px) {
    .textarea-control {
        grid-column: 1/ span 1;
    }
}