@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times new Roman', sans-serif;
}
section{
    height: 100%;
    width: 100%;
}
header{
    width:100%;
    height:75px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:20px 5%;
    background:transparent;
}
nav{
    height:30vh;
    position: relative;
    background-image:url("imgg/khoj.webp")
}
nav li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}
a,button{
    font-size: 22px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor:pointer;
}
button{
    background: rgba(0,0,0,0.2);
    border:2px solid yellow;
    border-radius: 50px;
    padding: 9px 25px;
}
nav li a:hover{
    color:yellow;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: yellow;
    transition: all 0.3sec ease;
}
nav .navbar{
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-heading{
    flex: 1;
    margin:40px;
    font-size:1.8rem;
    font-weight:600;
}

nav ul li{
list-style:none;
margin:0 20px;
font-size:1.2rem;
font-weight: 500;
}

nav ul li:hover{
    transform:scale(0.96);
    color:aliceblue;
    transition: all 0.4s;
    cursor: pointer;
}

.nav-side-heading{
    flex:1;
    display: flex;
    justify-content: center;

}

.nav-side-heading h3{
    margin: 0 20px;

}

nav ul{
    display: flex;
    flex: 2;
}

.nav-search{
    width: 80%;
    position: absolute;
    bottom: -10%;
    left: 10%;
    display: flex;
    justify-content:space-around;
}
.nav-search-main{
    background-color:#fff;
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 8px 0px;
    border-radius: 9px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px; 
}
.nav-search-main input{
    width: 80%;
    border: none;
    letter-spacing: 0.1px;
    padding: 0 5px;
}
.nav-search-main img{
    height: 18px;
}
.nav-2 input{
    width:60%;
}
.nav-search-btn{
    border:none;
    padding: 0px 30px;
    box-shadow: rgba(100.100,111,0.2) 0px 7px 29px 0px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 9px;
    background-image: linear-gradient(to left bottom, #5bffe2, #85fec9, #c9f7a2, #e6f397);
}
.nav-search-btn:hover{
    cursor: pointer;
}
.nav-search-btn:active{
    transform: scale(0.98);
}
input:focus{
    outline: none;
}

.main{
    width: 100%;
  }
  .main-top{
    width: 100%;
    background: #fff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(43, 43, 43);
  }
  .main-body{
    padding: 10px 10px 10px 20px;
  }
  h1{
    margin: 20px 10px;
  }
  .search_bar{
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }
  .search_bar input{
    width: 50%;
    padding: 10px;
    border: 1px solid rgb(190, 190, 190);
  }
  .search_bar input:focus{
    border: 1px solid blueviolet;
  }
  .search_bar select{
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    margin-left: 2rem;
  }
  .search_bar .type{
    width: 300px;
  }
  
  .tags_bar{
    width: 55%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }
  .tag{
    background: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
  }
  .tag i{
    margin-right: 0.7rem;
  }
  .row{
    display: flex;
    padding: 10px;
    margin-top: 1.3rem;
    justify-content: space-between;
  }
  .row p{
    color: rgb(54, 54, 54);
    font-size: 15px;
  }
  .row p span{
    color: blueviolet;
  }
  .job_card{
    width: 100%;
    padding: 15px;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 15px;
    justify-content: space-between;
    border: 2px solid rgb(190, 190, 190);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  }
  .job_details{
    display: flex;
  }
  .job_details .img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .job_details .img i{
    width: 70px;
    font-size: 3rem;
    margin-left: 1rem;
    padding: 10px;
    color: rgb(82, 22, 138);
    background: rgb(216, 205, 226);
  }
  .job_details .text{
    margin-left: 2.3rem;
  }
  .job_details .text span{
    color: rgb(116, 112, 112);
  }
  .job_salary{
    text-align: right;
    color: rgb(54, 54, 54);
  }
  .job_salary button{
    padding:0px 30px;
    margin: 20px;
  }
  .job_card:active{
    border: 2px solid blueviolet;
    transition: 0.4s;
  }