@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times new Roman', sans-serif;
}
section{
    height: 100%;
    width: 100%;
}
nav{
    height:30vh;
    position: relative;
    background-image: linear-gradient(to left bottom, rgb(236, 115, 55),rgb(245, 108, 16),rgb(252, 138, 50),rgb(219, 101, 10) );
}
nav .navbar{
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-heading{
    flex:1;
    margin:40px;
    font-size:1.8rem;
    font-weight:600;
}

nav ul li{
list-style:none;
margin:0 20px;
font-size:1.2rem;
font-weight: 500;
}

nav ul li:hover{
    transform:scale(0.96);
    color:aliceblue;
    transition: all 0.4s;
    cursor: pointer;
}

.nav-side-heading{
    flex:1;
    display: flex;
    justify-content: center;

}

.nav-side-heading h3{
    margin: 0 20px;

}

nav ul{
    display: flex;
    flex: 2;
}

.nav-title{
    height:40%;
    position: relative;
}

.nav-title h3{
    position: absolute;
    left:15%;
    top:30%;
    font-size: 2rem;
    word-spacing: 8px;
}
.nav-search{
    width: 80%;
    position: absolute;
    bottom: -10%;
    left: 10%;
    display: flex;
    justify-content:space-around;
}
.nav-search-main{
    background-color:#fff;
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 8px 0px;
    border-radius: 9px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px; 
}
.nav-search-main input{
    width: 80%;
    border: none;
    letter-spacing: 0.1px;
    padding: 0 5px;
}
.nav-search-main img{
    height: 18px;
}
.nav-2 input{
    width:60%;
}
.nav-search-btn{
    border:none;
    padding: 0 30px;
    box-shadow: rgba(100.100,111,0.2) 0px 7px 29px 0px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 9px;
    background-image: linear-gradient(to left bottom, #5bffe2, #85fec9, #c9f7a2, #e6f297);
}
.nav-search-btn:hover{
    cursor: pointer;
}
.nav-search-btn:active{
    transform: scale(0.98);
}
input:focus{
    outline: none;
}